cartopy==0.23.0
imgaug==0.4.0
matplotlib==3.7.5
mayavi==4.8.1
natsort==8.4.0
networkx==3.0
numpy==1.24.1
opencv_python==4.6.0.66
Pillow==10.3.0
scipy==1.13.0
seaborn==0.13.2
Shapely==2.0.4
torch>=1.9.0+cu111
